<template name="pictureVisualizationHolder">
	{{#if selected_picture}}
		{{> pictureInformationDisplay}}
		{{> pictureRandomColorSelector}}
		{{> pictureVisualization}}
	{{/if}}
	{{#unless selected_picture}}
		<div class="messageInformationMessagingDisabled">Placeholder pictureVisualizationHolder: No picture to visualize found.</div>
	{{/unless}}
</template>

<template name="pictureInformationDisplay">
	<div class="pictureInformationDisplay">
		{{#if currentUser}}
			<div class="pictureInformationUserLoggedIn">Picture (signed in! let's change pixels permanently):</div>
		{{/if}}
		{{#unless currentUser}}
			<div class="pictureInformationUserLoggedOut">Picture (sign in to change pixels permanently):</div>
		{{/unless}}
	</div>
</template>

<template name="pictureVisualization">
	<div class="pictureVisualization">
		{{> pictureVisualizationItemSVG}}
	</div>
</template>

<template name="pictureVisualizationItemSVG">
	<div class="pictureVisualizationItemSVG">
		{{#constant}}
			<svg id="pictureVisualizationItemSVGContainer">
				<g class="pictureVisualizationItemSVGPixels"></g>
			</svg>
		{{/constant}}
	</div>
</template>

<template name="pictureRandomColorSelector">
	<div class="pictureRandomColorSelector">
		<button class="pictureRandomColorSelectorButton">random color</button>
		<div class="pictureRandomColorSelectorColor">
			{{> pictureSelectedDrawColor}}
		</div>
	</div>
</template>

<template name="pictureSelectedDrawColor">
	<div class="pictureSelectedDrawColor">
		{{#constant}}
			<svg id="selectedColor" width="40" height="40">
				<circle cx="20" cy="20" r="20" />
			</svg>
		{{/constant}}
	</div>
</template>
